body { font-family: 'Catamaran'; background-color: #fdfafa; }

.navbar {
    background-color: #fdfafa;
}

.navbar-brand {
    color: #6B524D;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    /* line-height: 120%; */
}

#banner-section {
    /* height: 100vh;  */
    background-repeat: no-repeat;
    background-image: url('../img/background1.png'); 
    padding: 150px;
}

.banner-content {
    text-align: center;
}

.banner-content>h3{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: #FFF;
}

.banner-content>p{
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    color: rgba(255, 255, 255, 0.8);
}

.banner-content>a {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    /* font-size: 20px; */
    color: #FFF;
    text-decoration: none;
    border: 1px solid #FFF;
    padding: 10px 40px;
}

#intro {
    margin: 50px;
    padding: 0 250px;
}

#intro>h3{
    font-family: Catamaran;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: #6B524D;
}

#intro>p {
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

#discover-section, #showcase-section {
    margin-top: 80px; 
    margin-bottom: 80px;
}

#discover-section h2, #showcase-section h2{
    font-family: Catamaran;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;                
    color: #6B524D;
}

#discover-section p, #showcase-section p{
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #9A9A9A;
}

#discover-section a{
    background: #6B524D;
    border: 1px solid #6B524D;
    padding: 18px 27px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
}

#showcase-section #price{
    font-family: Work Sans;
    font-style: normal;
    font-weight: 40;
    font-size: 36px;
    color: #9A9A9A;
}

#showcase-section .showcase-dropdown {
    border: none;
    width: 100%;
    background: #E9F1F0;
    padding: 8px;
}

#showcase-section button {
    background: #6B524D80;
    padding: 5px 15px;
    border: none;
    /* color: #FFF; */
    font-size: 20px;
}

#showcase-section .add-to-cart {
    background: #6B524D;
    padding: 5px;
}

/* TESTIMONIALS */
#testimonial-body {
    margin-left: 50px;
    margin-top: 50px;
}

.testimonial-item {
    padding: 55px 35px; text-align: center;
    width: 300px;
    height: 250px;
    margin-right: 50px;
    background: #FFFFFF;
    border: 1px solid #E9F1F0;
    box-sizing: border-box;
    box-shadow: 4px 4px 8px rgba(0, 17, 17, 0.16);
    border-radius: 10px;
}
/* TESTIMONIALS */

/* FOOTER */
#footer-container {
    background-color: #5E423D; 
    padding: 50px 100px; 
    color: #FFF;
}

.footer-links {
    line-height: 15px;
}

.footer-links a{
    color: #FFF !important; 
    text-decoration: none;
}

.footer-item {
    width: 250px;
}

.footer-header {
    margin-bottom: 20px;
}


/* FOOTER */